*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div p{
			vertical-align:top;
			margin: 5px 5px;
			width: 750px;
			padding: 45px;
			display: inline-block;
			border: 3px solid black;
			font-family: cursive;
			color: grey;
}
div h2{
				vertical-align:top;
			margin: 5px 5px;
			width: 750px;
			padding: 45px;
			display: inline-block;
			border: 3px solid black;
			font-family: cursive;
			color: grey;

}
#arm{
	border: 3px solid black;
	width: 400px;
	margin: 10px;
	display: inline-block;
	
}