*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#tempo{
	width: 1200px;
	margin: 10px 75px;
	background: #ccc;
	padding: 10px;
}
		#temporadas {
			border: 3px solid black;
			margin: 20px ;
			padding: 50px;
			display: inline-block;
			width: 1150px;
			vertical-align: top;

		}
		#tmp{
			border: 3px solid black;
			display: inline-block;
			width: 250px;
			padding: 100px
			margin: 10px 10px;
			vertical-align: bottom;
		}
		div p{
			vertical-align:top;
			margin: 5px 5px;
			width: 750px;
			padding: 45px;
			display: inline-block;
			border: 3px solid black;
			font-family: cursive;
			color: grey;
		}
		div h1{
			border: 3px solid black;
			margin: 10px;
			text-align: center;
			width: 1050px;
		}
				div iframe{
			border: 3px solid black;
			margin: 10px;
			padding: 30px;
			display: inline-block;
			width: 400px;
		}
		div h3{
		display: inline-block;
			border: 3px solid black;
			margin: 10px;
			text-align: center;
			vertical-align: top;
			width: 400px;
		}
				#lt{
					padding: 10px;
	width: 1200px;
	margin: 20px 75px;
	
	text-align: center;

}
#temp1{
	margin: 20px;
	border: 3px solid black;
	width: 260px;
}
#temp2{
	margin: 20px;
	border: 3px solid black;
	width: 200px;
	vertical-align:right;
}
#temp3{
	margin: 20px;
	border: 3px solid black;
	width: 150px;
}
#temp4{
	margin: 20px;
	border: 3px solid black;
	width: 250px;
}
.box{
	display: inline-block;
	margin: 10px ;
}
.box2{
	display: inline-block;
	margin: 10px ;
}
.box3{
	display: inline-block;
	margin: 10px auto;
}
.box4{
	display: inline-block;
	margin: 10px auto;}
#link{

	padding: 10px;
	width: 1200px;
	margin: 5px 5px;

	text-align: center;
}
#inicio{
	margin: 10px;
	padding: 10px
	border: 3px solid black;
	width: 200px;
}
#act{
	margin: 10px;
	border: 3px solid black;
	width: 200px;
}
#temp{
	margin: 10px;
	border: 3px solid black;
	width: 150px;
}
#mom{
	margin: 10px;
	border: 3px solid black;
	width: 250px;
}
#pg1{
	border: 3px solid black;
}
#ac{
	border: 3px solid black;
}
#tem{
	border: 3px solid black;
}
#moment{
	border: 3px solid black;
}
.caja{
	display: inline-block;
	margin: 10px ;
}
.caja2{
	display: inline-block;
	margin: 10px ;
}
.caja3{
	display: inline-block;
	margin: 10px auto;
}
.caja4{
	display: inline-block;
	margin: 10px auto;
